body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: rgba(251, 252, 255, 1);
}


a {
	margin: 0px 10px;
	color: lightblue;
}

a:hover {
	color: white;
	text-decoration: underline;
	cursor: pointer;
}

header {
	background-color: rgba(0, 0, 0, 0.8);
	height: 5vh;
	display: flex;
	align-items: center;
}


.recalls {
	max-height: 40vh;
	overflow: scroll;
	box-shadow: 0px 0px 2px gray;
	background-color: white;
	border-radius: 5px;
	padding: 15px;
	margin: 30px 5px;

}

button {
	height: 4vh;
	border-radius: 0%;
	box-shadow: 0 0;
}

.splash {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.search-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.search-container > h3{
	text-align: center;
}

.search-container-form {
	display: flex;
	flex-direction: column;
	padding: 5vh 0 0 0;
}

.search-container-form > button {
	width: 20vw;
	margin-left: 20px;
}

select {
	height: 5vh;
	margin: 10px;
	max-width: 45vw;
}


.heading {
	text-decoration: underline;
}

.spacer {
	width: 3px;
	background-color: gray;
	height: auto;
	margin: 5px 0;
}

.compareContainer {
	display: flex;
	justify-content: space-around;
	overflow: scroll;
	max-height: 95vh;
}

.viewContainer {
	max-height: 95vh;
	overflow: scroll;
	text-align: center;
}

.compare-car-1 > .ratings-container {
	display: inline-block;
}

.compare-car-2 > .ratings-container {
	display: inline-block; 
}

.compare-car-3 > .ratings-container {
	display: inline-block;
}


.compare-car-1, .compare-car-2, .compare-car-3 {
	max-width: 33vw;
	text-align: center;
}

.recalls > div > h3{
	text-transform: lowercase;
	/*text-transform: capitalize;*/
}

.card-layout {
	text-align: center;
	box-shadow: 0px 0px 2px gray;
	width: auto;
	padding: 5px 10px;
	margin: 30px;
	border-radius: 5px;
	background-color: white;
}

.ratings-container {
	text-align: center;
	display: flex;
	justify-content: space-around;
	max-height: 60vh;
	overflow: scroll;
	box-shadow: 0px 0px 2px gray;
	margin: 5px;
}

.warning {
	color: rgba(255, 0, 0, 0.5);
}

.warning-container {
	text-align: center;
}


.compare-link {
	color: blue;
}

.compare-link:hover {
	color: black;
	text-decoration: underline;
	cursor: pointer;
}

button:hover {
	cursor: pointer;
}





