body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: rgba(251, 252, 255, 1);
}


a {
	margin: 0px 10px;
}


.recalls {
	max-height: 40vh;
	overflow: scroll;
	box-shadow: 0px 0px 2px gray;
	background-color: white;
	border-radius: 5px;
	padding: 15px;
	margin: 30px;

}

.heading {
	text-decoration: underline;
}

.spacer {
	width: 3px;
	background-color: gray;
	height: auto;
	margin: 5px 0;
}

.compareContainer {
	display: flex;
	justify-content: space-around;
}

.compare-car-1 > .ratings-container {
	display: inline-block;
}

.compare-car-2 > .ratings-container {
	display: inline-block;
}

.compare-car-3 > .ratings-container {
	display: inline-block;
}



.card-layout {
	text-align: center;
	box-shadow: 0px 0px 2px gray;
	width: auto;
	padding: 5px 10px;
	margin: 30px;
	border-radius: 5px;
	background-color: white;
}

.ratings-container {
	text-align: center;
	display: flex;
	justify-content: space-around;
	max-height: 60vh;
	overflow: scroll;
	box-shadow: 0px 0px 2px gray;
}